body{
 font-family: Helvetica;
 font-size: 1rem;
 }

 .maincontainer {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
 }
 header {
   padding: 1rem 1.5rem;
 }
.desktop {
   display:flex;
   align-items: center;
   color: #FFFFFF;
 }

.logo {
   flex-grow: 1;
   display: flex;
   align-items: center;
 }
.logo img {
   margin-right: .5rem;
 }

li {
   display:inline;
   padding-right: 1rem;

 }
li:last-child {
   padding-right: 0;
 }

 .logo {
   flex-grow: 1;
   display: flex;
   align-items: center;
   font-size: 30px;
 }

 .logo img {
   margin-left: 2rem;
   height: 1.5rem;
 }
 nav {
   display: inline-block;
   text-align:center;
   font-size: 1.5rem;
   min-width: 100px;
   margin-top: 2rem;
   margin-left: 4rem;
   margin-right: 10rem;

 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }


 .desktop{
   z-index: 1;
   background-color: #5f9ea0;
   padding-top:50px;
   height: 100px;
   color: white;
 }
 a {
    text-decoration: none;
    color: #FFFFFF;
 }

 .main-background {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
   background-size: cover;
   height: 30rem;
 }

.content-container{
  display: block;
      margin-left: auto;
      margin-right: auto;
}
.image-container img {
  margin-top: 3rem;
  display:inline-flex;
  flex-direction:row;
  align-items:flex-end;
  margin-left: 330px;
  height: 3rem;

}
.image-information span{
  display:flex;
  float:left;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
}
